{% extends "home/base.html" %}
{% load static %}
{% block footer %}
  <div class="extra">
    Join us in our Mission and help us in Bringing people together through Dance Arts and Culture.
    <br />
    <a href="#" class="button button-green">Get Started</a>
  </div>      
  <div class="copyright">
    <span>&copy; 2018 Cen4PAL All rights reserved.</span>
    <a href="#">Terms of Use</a>
    <!--<a href="#">uscoolabs</a> -->
    <a href="#">Privacy Policy</a>
    <div class="social">
      <a href="#" class="fa fa-youtube-play"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-facebook"></a>
    </div>
  </div>
{% endblock %}