{% extends 'gallery/base.html' %}
{% load static %}


{% block content %}
    <div class="container" >
        <h1 class="blog-title" style="border-bottom: 2px solid;">Gallery of CentPAL</h1>
    </div>


    <main class="container">
        <div class="row">
            <div class="col-sm-8 blog-main">
                <div class="blog-post">
                    <h2 class="blog-post-title" style="border-bottom: 1px solid">
                        Latest Snaps
                    </h2>
                </div>
                <div class = "row">
                    {% if images %}
                    <ul>
                        {% for image in images %}
                       <span class="col-lg-6 col-md-6 col-xs-6">
                            <span class="thumbnail">
                                <a href="{{ image.image.url }}" data-lightbox="{{ image.category }}" data-title="{{ image.caption }}"><img src="{{ image.image.url }}"></a>
                            </span>
                        </span>
                        {% endfor %}
                     </ul>
                    {% endif %}
                </div>
            </div>
            <aside class="col-sm-3 ml-sm-auto blog-sidebar" >
                <div class="sidebar-module sidebar-module-inset" style="font-size: 1rem; font-weight: 400; line-height: 1.5; text-align: left; box-sizing: border-box; color: #555;" >
                    <div class="well">
                        <h3 style="text-align: center;">About</h3>
                        <h5>
                             A pictorial tour of our center/studio of the various classes we offer, including various dance styles, yoga & acro, art, instrumental music lessons, reading & writing workshops, language classes.
                        </h5>
                    </div>
                </div>

                <div class=" well">
                <div>
                    <h3 style="text-align: center;">
                        Categories
                    </h3>
                    <ol style="list-style: none; font-family: serif; text-align: left; font-weight: 400; line-height: 1.5; box-sizing: border-box;">
                    {% if categories %}
                    <div style="padding-left: 8px;">
                        <ul>
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% else %}
                        <li>There are no posts.</li>
                    {% endif %}
                    </ol>
                </div>
                </div>
            </aside>
        </div>
    </main>

    <br>
    <br>

    <div class="container">
			<a href="http://www.novichamber.com" target="_blank"><img src="{% static "img/lacc.jpg" %}" class="img-responsive" style="margin: 0 auto;"></a>
	</div>


<footer>
      <div class="container text-center">
        <p>Copyright &copy; www.cen4pal.com 2018</p>
      </div>
    </footer>
    
<footer class="site-footer" role="contentinfo">
        <ul class="inline-list">
            <li><a href="https://www.linkedin.com/in/nandita-bajaj-b3a5b81" class="icon ion-social-linkedin" target="_blank">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/Cen4PAL" class="icon ion-social-facebook" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/cen.4.performartsnlearning/" class="icon ion-social-instagram" target="_blank">Instagram</a></li>
            <li><a href="https://twitter.com/Cen4PAL" class="icon ion-social-twitter" target="_blank">Twitter</a></li>
            <li><a href="http://www.novichamber.com" class="icon ion-earth" target="_blank">Chamber of Commerce</a></li>
        </ul>
    </footer>
{% endblock %}
