{% load staticfiles %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
	<link rel="shortcut icon" href="{% static "img/logo1.png"  %}">
	<title>Calender | Cen4PAL</title>
	<meta name='keywords' content='Center for Performance and learning,Detrroit,USA'/>
	<meta name='description' content='Center for Performance Arts and Learning strives to bring people together through dance,music,arts and culture.'/>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Roboto+Slab:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="{% static "css/style.css" %}">

	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "calendarium/css/calendar.css" %}">

</head>
<body>
	<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
			  	<div class="container-fluid">
			    	<div class="navbar-header">
			      		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
				        	<span class="sr-only">Toggle navigation</span>
				        	<span class="icon-bar"></span>
				        	<span class="icon-bar"></span>
				        	<span class="icon-bar"></span>
			      		</button>
			      		<a href="{% url 'home' %}"><img class="img-responsive" src="{% static "img/logo1.png" %}" width="60px" height="60px"></a>
			    	</div>
    				<div class="collapse navbar-collapse" id="navbar-collapse-1">
      					<ul class="nav navbar-nav navbar-right">
					        <li><a href="{% url 'home' %}">Home</a></li>
                            <li class="active"><a href="{% url 'calendar_current_month' %}">Event & Calendar</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
                            <li><a href="{% url 'video' %}">Video</a></li>
                            <!--{% for registration in registrations %}
                            <li><a href="https://paypal.me/ctr4PAL/{{ registration.registration }}/">Register</a> </li>
                            {% endfor %}-->
                            <li><a href="{% url 'paypal' %}">Registration</a></li>
                            <li><a href="{% url 'rentourspace' %}">Rent Our Space</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
					    </ul>
    				</div><!-- /.navbar-collapse -->
  				</div><!-- /.container-fluid -->
			</nav>
		</div>
		<br>
		<br>
		<br>
		<br>
		<div class="container">{% block main %}{% endblock %}</div>

		<br>
		<br>

		<div class="container">
			<a href="http://www.novichamber.com" target="_blank"><img src="{% static "img/lacc.jpg" %}" class="img-responsive" style="margin: 0 auto;"></a>
		</div>


		<footer>
      <div class="container text-center">
        <p>Copyright &copy; www.cen4pal.com 2018</p>
      </div>
    </footer>
    
	    <footer class="site-footer" role="contentinfo">
		    <ul class="inline-list">
		        <li><a href="https://www.linkedin.com/in/nandita-bajaj-b3a5b81" class="icon ion-social-linkedin" target="_blank">LinkedIn</a></li>
		        <li><a href="https://www.facebook.com/Cen4PAL" class="icon ion-social-facebook" target="_blank">Facebook</a></li>
		        <li><a href="https://www.instagram.com/cen.4.performartsnlearning/" class="icon ion-social-instagram" target="_blank">Instagram</a></li>
		        <li><a href="https://twitter.com/Cen4PAL" class="icon ion-social-twitter" target="_blank">Twitter</a></li>
		        <li><a href="http://www.novichamber.com" class="icon ion-earth" target="_blank">Chamber of Commerce</a></li>
		    </ul>
		</footer>

	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static "js/modernizr.custom.js" %}"></script>
	<script src="{% static "js/zepto.min.js" %}"></script>
	<script src="{% static "js/demo.js" %}"></script>
	<script src="{% static "js/main-script.js" %}"></script>
	<script src="{% static "js/modernizr-custom.js" %}"></script>
	<script src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
	<script src="{% static "js/masonry.pkgd.min.js" %}"></script>
	<script src="{% static "js/classie.js" %}"></script>
	<script src="{% static "js/main.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
</body>
</html>
